body {
  margin: 0;
  background-color: #545454;
  font-family: Maharlika, sans-serif;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* Apilar los paneles en móviles */
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin: 0 20px;
}

.center-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #5b0c0c;
  font-size: 6vw; /* Tamaño de fuente relativo */
  margin: 10px 0;
}

.score {
  font-size: 4vw; /* Tamaño de fuente relativo */
  font-style: italic;
  margin-bottom: 20px;
  color: black;
  margin-top: -40px;
}

canvas {
  background: #c0c0c0;
  border: 4px solid #333;
  width: 90%; /* Ajusta el canvas para que ocupe el 90% del contenedor */
  max-width: 500px; /* Limitamos el ancho máximo */
  height: auto;
}

/* Botones A-D-S */
.controls-izq {
  display: flex;
  flex-direction: column;
  gap: 5%; /* Usa un valor relativo */
  margin-top: 5vw; /* Usamos un tamaño relativo */
  position: relative;
  align-items: center;
}

.controls-izq img {
  width: 15vw; /* Usamos un tamaño relativo para que se ajuste al tamaño de la pantalla */
  height: 15vw; /* Usamos un tamaño relativo */
}

.controls-izq img:nth-child(1) {
  position: absolute;
  left: -20%;
  top: -25%;
}

.controls-izq img:nth-child(2) {
  position: absolute;
  left: 15%;
  top: -25%;
}

.controls-izq img:nth-child(3) {
  position: absolute;
  left: -10%;
  top: 25%;
}

/* Botones de pausa/play/reinicio */
.controls-der {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  margin-top: 10vw; /* Ajustamos margen superior */
}

.control-btn {
  width: 15vw; /* Tamaño relativo */
  height: 15vw; /* Tamaño relativo */
  max-width: 70px; /* Limite de tamaño máximo */
  max-height: 70px; /* Limite de tamaño máximo */
  cursor: pointer;
}

/* Media Queries para pantallas más grandes */
@media (min-width: 768px) {
  .game-wrapper {
    flex-direction: row; /* Los paneles se alinean horizontalmente en pantallas más grandes */
  }

  .controls-izq img {
    width: 70px; /* Tamaño fijo para pantallas grandes */
    height: 70px; /* Tamaño fijo para pantallas grandes */
  }

  .control-btn {
    width: 70px; /* Tamaño fijo para pantallas grandes */
    height: 70px; /* Tamaño fijo para pantallas grandes */
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 48px; /* Tamaño fijo para pantallas grandes */
  }

  .score {
    font-size: 28px; /* Tamaño fijo para pantallas grandes */
  }
}
